* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    border: 100;
    
}

header {
    background-color: #233;
    color: #fff;
    padding: 1rem;
    
}
#business-logo {
    font-size: 24px;
    font-weight: bold;
    color: #c71c1c;
    letter-spacing: 1px;
    padding: 0px 45px;
    background-color: #0000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

#business-logo:hover {
    background-color: #c71c1c;
    color: #fff;
    transform: scale(1.05);
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    box-shadow: 0 2px 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(to bottom, #233, #233);
}
nav ul li:hover {
    background-color: #c71c1c;
    color: #ff0000;
    transform: scale(1.25);
}
nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    
}

section {
    margin-bottom: 2rem;
    
}

h1, h2 {
    margin-bottom: 1rem;
    border: 5px outset red;
    padding: 5px;
    border-radius: 10px;
    border-right-color: #233;
    border-left-color: #233;
    box-sizing: border-box;
    width: 370px;
    
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

input, textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

button {
    background-color: #233;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #233;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}